<!DOCTYPE html>
{% extends "personal/header.html" %}
{% block content %}
		<section id="main">

			<div id="single">
				<h3>About Me</h3>
				<img id="hero" src="/static/img/me-picture.svg">
			</div>

			<div id="single">
				<h4>Programming</h4>
				<p>I built my first computer at 13, and since then I've had nothing but love for technology and all of the forms it takes. I first learned the basics of programming through reading textbooks from local book stores and then practicing with any free time I could find. With enough time I was able to build my first website, and my skill set catapulted from there.</p>
				<p>Currently I spend most of my time working with HTML, CSS, Javascript, and PHP; However, when a project is out of the scope of web development, my language of choice is Python.</p>
			</div>

			<div id="single">
				<h4>Hobbies</h4>
				<p>Apart from programming, I have plenty of hobbies, I'm often too busy with work to enjoy them, but I always manage to find time in the week. The three I allocate most of my free time to are the following</p>
			</div>

			<div id="single">
					<img class="hobby" src="/static/img/france.svg">
					<h4>French</h4>
					<p>In my opinion, languages offer another world of thought and perception. They are often shaped and representative of the culture that spawned them, by learning another language you can learn so much more than just a different way to say something.</p>
					<p>I have been teaching myself French for about three months, and at the moment I can only speak basic sentences and I'm unable to convey more complex thoughts, but like anything, with enough time and dedication I'll eventually become fluent.</p>
					<p>Maintenant, je peux parler un peu Français. Mon accent n'est pas mauvais, mais n'est pas parfait. J'apprends la grammaire, et je veux parler tous le jours en Français bientôt.</p>
			</div>

			<div id="single">
					<img class="hobby" src="/static/img/wrestling.svg">
					<h4>Wrestling</h4>
					<p>In the 9th grade I joined the wrestling team, I was terrible. At least at first, but I began to study the techniques more, and practice the movements over and over.. eventually I became a pretty decent wrestler, I started to win more often and really felt proud of my accomplishments. This was one of my most valuable life lessons, I had realized that with enough work and study, I could become fairly proficient at anything. I apply this train of thought when I'm in the process of learning anything new, what might seem extremely complex and daunting at first, will eventually break down with enough effort and determination, I just have to keep trying.</p>
					<p>I've since graduated, but still manage to practice wrestling at least twice a week, aside from the obvious fitness benefits, it keeps my mind sharp and is still one of my passions.</p>
			</div>

			<div id="single">
					<img class="hobby" src="/static/img/history.svg">
					<h4>History</h4>
					<p>My favorite era of history is the rise and fall of the Roman republic / empire, from Julius Caesar, to Agustus, Caligula, Nero, all the way to Constantine. The idea of an empire of such scale existing when people still had to essentially walk everywhere intruges me.</p>
					<p>Due to the fact that every day life wasn't written about too often (or at all) in still existing Roman art or literature, I often try to wonder and imagine what it was like to live in such a time, sure the big names of mighty Emperors are a huge draw, but it's often the more mundane aspects of ancient life that draw my attention.</p>
			</div>

		</section>		
{% endblock %}
<?php get_footer(); ?>
