<!DOCTYPE html>
{% extends "personal/header.html" %}
{% block content %}
		<section id="main">
			<div class="category">
				<h3>Projects</h3>
				<article class="container">
					<a href="willwalt"><div class="overlay" style="background-image: url('/static/img/cat-overlay.png');"></div>
					<img src="/static/img/cat-websites.png"></a>
					<h4>WillWalt.com</h4>				
				</article>
				<article class="container">
					<a href="arcadebot"><div class="overlay" style="background-image: url('/static/img/cat-overlay.png');"></div>
					<img src="/static/img/cat-programming.png"></a>
					<h4>Arcade Bot</h4>	
				</article>
			</div>
		</section>		

<script type="text/javascript">

$(".container").hover(function(){
    $('.cat-block').stop().fadeIn();
    $(this).show();
	$('.container').not(this).css('z-index', '0');
},function(){
    $('.cat-block').stop().fadeOut();
	$('.container').not(this).css('z-index', '2');
});

</script>
{% endblock %}